@import url(variables.css);
html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    object-fit: cover;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15.55%;

    b {
        color: var(--neutral-two);
        font-weight: var(--light);
    }
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 23px 0 24px 0;
    padding: 0 15.55%;

    span {
        background: var(--primary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: var(--bold);
        font-size: var(--heading-4);

        b {
            font-weight: var(--light);
        }
    }

    .links-wrapper {

        display: flex;
        gap: 32px;

        a {
            font-weight: var(--semi-bold);
            font-size: var(--label);
            background: var(--neutral);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        a:hover {
            font-weight: var(--semi-bold);
            font-size: var(--label);
            background: var(--primary-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.tittle {
    display: flex;
    justify-content: center;
    padding: 220px 0 316px;
    width: 100%;

    h1 {
        width: 100%;
        font-size: var(--heading-1);
        font-weight: var(--semi-bold);
        text-align: center;
    }
}

.card-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px 0;
}

.works {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 32px;

    img {
        width: 100%;
        height: 490px;
        overflow: hidden;
        border-radius: 15px;
    }

    p {
        width: 100%;
        font-size: var(--heading-3);
        line-height: var(--line-heigth);
        margin: 16px 0 83px;
    }

    a {
        border: 1px solid var(--neutral);
        background: var(--background-color);
        width: fit-content;
        padding: 8px 18px;
        border-radius: 20px;
        color: var(--neutral);


    }

    h6 {
        color: var(--neutral);
        font-weight: var(--semi-bold);
        font-size: var(--heading-5);
        line-height: var(--line-heigth);
    }

    a:hover {
        background: var(--primary-color);
    }

}

.text-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.inverse {
    display: flex;
    flex-direction: row-reverse;
}

.about {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 74px 0;

    img {
        width: 100%;
        height: 408px;
        border-radius: 16px;
    }

    .text-about {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 16px 0;

        h4 {
            font-weight: var(--semi-bold);
            font-size: var(--heading-4);
            line-height: var(--line-heigth);

        }

        p {
            font-size: var(--heading-3);
            font-weight: var(--semi-bold);
        }
    }

    .imgs-wrapper {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 32px;
        width: 100%;

        .par {
            display: flex;
            flex-direction: column;
            gap: 32px;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 80px 0 40px;

    h4 {
        font-weight: var(--semi-bold);
        font-size: var(--heading-1);
        line-height: var(--line-heigth);
        text-align: center;
    }

    p {
        font-weight: var(--light);
        font-size: var(--body-1);
        line-height: var(--line-heigth);
        text-align: center;
    }

    .footer-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .icons-wrapper {
        display: flex;
        gap: 56px;
    }
}

@media (max-width: 450px) {
    header span {
        font-size: var(--label);
    }

    .card {
        img {
            width: 100%;
        }

        p {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .card {

        flex-direction: column;
        img {
            height: unset;
            overflow: hidden;
        }
    }

    .about {
        flex-direction: column;

        img {
            height: 204px;
        }
    }
}