@import url(variables.css);

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    img {
        object-fit: cover;
    }
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 112px;

    b {
        color: var(--neutral-two);
        font-weight: var(--light);
    }
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 23px 0 24px 0;
    padding: 0 112px;

    span {
        background: var(--primary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: var(--bold);
        font-size: var(--heading-4);

        b {
            font-weight: var(--light);
        }
    }

    .links-wrapper {

        display: flex;
        gap: 32px;

        a {
            font-weight: var(--semi-bold);
            font-size: var(--label);
            background: var(--neutral);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        a:hover {
            font-weight: var(--semi-bold);
            font-size: var(--label);
            background: var(--primary-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
.tittle {
    display: flex;
    justify-content: center;
    padding: 220px 104px 316px;
    width: 100%;

    h1 {
        width: 100%;
        font-size: var(--heading-1);
        font-weight: var(--semi-bold);
        text-align: center;
    }
}
.card-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px 0;
}
.card {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0 32px;
    img {
        width: 50%;
        height: 490px;
        border-radius: 15px;
    }
    p {
        width: 70%;
        font-size: var(--heading-3);
    }

    a {
        border: 1px solid var(--neutral);
        background: var(--background-color);
        width: fit-content;
        padding: 8px 18px;
        border-radius: 20px;
        color: var(--neutral);


    }
        h6 {
            color: var(--neutral);
            font-weight: var(--semi-bold);
            font-size: var(--heading-5);
            line-height: var(--line-heigth);
        }
        a:hover {
            background: var(--primary-color);
        }

}
.text-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.inverse{
    display: flex;
    flex-direction: row-reverse;
}

.about {
    display: flex;
    flex-direction: row;
    gap: 32px;

    .text-about{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 16px 0;
        h4 {
            font-weight: var(--semi-bold);
            font-size: var(--heading-4);
            line-height: var(--line-heigth);

        }
        p {
            font-size: var(--heading-3);
            font-weight: var(--semi-bold);
        }
    }

    .imgs-wrapper {
        width: 50%;
        height: 408px;
        display: flex;
        flex-wrap: wrap;
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
