@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    /* colors: */
    --primary-color: linear-gradient(45deg, #BC3CD8, #C54B8C);
    --neutral: #E3E4E6;
    --neutral-two: rgba(227, 228, 230, 0.55);
    --background-color: #010208;

    /* fonts: */

    --work-sans: 'Work Sans', sans-serif;

    /*font width*/
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black: 900;

    /*font-size*/
    --heading-1: 56px;
    --heading-2: 40px;
    --heading-3: 32px;
    --heading-4: 24px;
    --heading-5: 16px;
    --body-1: 18px;
    --button: 16px;
    --label: 14px;

    /*font line-heigth*/
    --line-heigth: 150%;
}